extends ../layouts/main

block content
  div#cargando.hidden
    p Cargando...
    img(src="img/loader.gif")
  div#intro    
    div.desc
      h2 ¡Felicidades!
      p Está a un <em>clic</em> de hacer una excelente inversión y reducir su consumo eléctrico, mientras cuida el planeta de nuestros hijos.
  div#form.container
    form.form-horizontal

      h3 Datos Personales    
      div.form-group
        label.col-lg-2.control-label Nombre: 
        div.col-lg-10
          input.form-control(type="text", name="nombre", placeholder="Nombre completo", required)
      div.form-group
        label.col-lg-2.control-label Correo: 
        div.col-lg-10
          input.form-control(type="email", name="correo", placeholder="Correo electrónico", required)
      div.form-group
        label.col-lg-2.control-label Teléfono: 
        div.col-lg-6
          input.form-control(type="tel", name="telefono", placeholder="Teléfono de contacto", required)
      div.form-group
        label.col-lg-2.control-label Lugar: 
        div.col-lg-6
          select.form-control(name="lugar", required)
            option(value="") Lugar
      div.form-group
        label.col-lg-2.control-label Personas en residencia: 
        div.col-lg-2
          select.form-control(name="personas", required)
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="4") 4
            option(value="5") 5
            option(value="6") 6
            option(value="7") 7
            option(value="8") 8
            option(value="9") 9
            option(value="10") 10
      hr

      h3 Tipo de Sistema
      div#sistemas.container
        div.sistema
          div.circulo
            img(src="img/termosolar.jpg")
          div.desc
            h3 Termosolar
            p Pequeña descripción del sistema termosolar con algún par de ejemplos. Que ojalá no sean más de 4 líneas de descripción. 

        div.sistema
          div.circulo
            img(src="img/fotovoltaico.jpg")
          div.desc
            h3 Fotovoltáico
            p Pequeña descripción del sistema termosolar con algún par de ejemplos. Que ojalá no sean más de 4 líneas de descripción. 

      div.form-group
        label.col-lg-3.control-label Consumo en kWh: 
        div.col-lg-3
          input.form-control(type="text", name="kWh", placeholder="kWh", required)
          p: a(data-toggle="modal", href="#ayudaModal"): small.pull-right <em>¿Cómo averiguo esto?</em> &nbsp;
            span: i.fa.fa-question-circle
      p: small
        span.label.label-primary NOTA
        span &nbsp; Recomendamos un sistema solar que cubra desde un 20 a un 80% de su consumo.
      hr

      h3 Financiamiento
      div.form-group
        div.col-lg-offset-2.col-lg-10
          div.checkbox
            label
              input(type="checkbox", name="financiamiento") 
              | Me interesa recibir financiamiento
      hr

      div.form-group
        div.col-lg-offset-2.col-lg-10
          div.checkbox
            label
              input(type="checkbox", name="terms", required, checked) 
              | Acepto ser contactado para fines de esta cotización.
      button.btn.btn-warning.btn-lg.btn-block(type="submit") Cotizar
      small *Estimado sujeto a cambios

  div#ayudaModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
          he.modal-title Ayuda
        div.modal-body
          //- Content