/* ===================
   Content
   =================== */
/*
 * CONTENTS...................You’re reading it!
 * COMPASS....................Imports, requires, etc.
 * SECTIONS...................Content from custom sections
 */
/* ===================
   Compass
   =================== */
/* ===================
   Sections
   =================== */
/* line 30, sass/main.scss */
#cargando {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  padding-top: 40%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

/* line 45, sass/main.scss */
#intro {
  color: white;
  text-align: center;
  background-color: #3498db;
  border-bottom: solid 4px #2980b9;
  padding: 20px 0;
}
/* line 52, sass/main.scss */
#intro .desc {
  margin: 0 auto;
  font-size: 24px;
  font-weight: lighter;
  width: 610px;
}
/* line 53, sass/main.scss */
#intro .desc h2 {
  font-size: 50px;
}

/* line 62, sass/main.scss */
.intro-grande {
  padding: 60px 0 !important;
  overflow: hidden;
}
/* line 66, sass/main.scss */
.intro-grande .pie {
  position: relative;
  bottom: -50px;
  margin: 0 auto;
  text-align: center;
}
/* line 72, sass/main.scss */
.intro-grande .pie a {
  color: white;
}

/* line 76, sass/main.scss */
#sistemas {
  margin: 0 auto;
  text-align: center;
}
/* line 80, sass/main.scss */
#sistemas .sistema {
  margin: 0 20px;
  padding: 30px;
  width: 250px;
  display: inline-block;
}
/* line 86, sass/main.scss */
#sistemas .sistema .desc {
  padding-top: 5px;
  margin: 0 auto;
  font-size: 11px;
  text-align: justify;
}
/* line 92, sass/main.scss */
#sistemas .sistema .desc h3 {
  font-size: 14px;
  text-align: center;
}

/* line 100, sass/main.scss */
#resultado {
  margin: 0 auto;
}
/* line 103, sass/main.scss */
#resultado.colapsado {
  position: relative;
  width: 100%;
  height: 40px;
  top: -60px;
  margin: 0 auto;
  padding: 10px;
  background-color: #3498db;
  z-index: 50;
}
/* line 113, sass/main.scss */
#resultado.colapsado h4 {
  margin: 0;
}
/* line 114, sass/main.scss */
#resultado.colapsado a {
  color: white;
}
/* line 117, sass/main.scss */
#resultado .circulo {
  width: 150px;
  height: auto;
}
/* line 122, sass/main.scss */
#resultado .desc {
  text-align: left;
  width: auto;
  font-size: 17px;
  font-weight: lighter;
}
/* line 128, sass/main.scss */
#resultado .desc h2 {
  font-size: 88px;
  padding: 0;
  margin: 0;
}
/* line 134, sass/main.scss */
#resultado .desc h3 {
  font-size: 27px;
  padding: 0;
  margin: 0;
}
/* line 141, sass/main.scss */
#resultado > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

/* line 148, sass/main.scss */
#desgloces {
  margin: 0 auto;
  padding: 40px 0 20px 0;
  text-align: center;
}
/* line 153, sass/main.scss */
#desgloces .desgloce {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  padding-right: 20px;
  font-size: 12px;
  vertical-align: bottom;
}

/* line 164, sass/main.scss */
#slideshow .navs {
  position: relative;
  top: -100px;
}
/* line 167, sass/main.scss */
#slideshow .navs > div {
  position: relative;
  color: black;
  padding: 15px;
  width: 45px;
  height: 40px;
  background-color: white;
}
/* line 175, sass/main.scss */
#slideshow .navs > div:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 0;
  top: -3px;
  width: 55px;
}
/* line 183, sass/main.scss */
#slideshow #imagenes {
  position: relative;
  top: -100px;
  height: 150px;
}

/* ===================
   Helpers
   =================== */
/* line 194, sass/main.scss */
.container {
  max-width: 810px;
}

/* line 196, sass/main.scss */
.circulo {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 150px;
  border: 10px solid #95a5a6;
  overflow: hidden;
  background-color: black;
  -webkit-box-shadow: #7f8c8d 0 5px 0;
  -moz-box-shadow: #7f8c8d 0 5px 0;
  box-shadow: #7f8c8d 0 5px 0;
}
/* line 207, sass/main.scss */
.circulo img {
  width: 100%;
  cursor: pointer;
}
/* line 212, sass/main.scss */
.circulo:hover, .circulo:active {
  top: 5px;
  border: 10px solid #3498db;
  -webkit-box-shadow: #2980b9 0 -5px 0;
  -moz-box-shadow: #2980b9 0 -5px 0;
  box-shadow: #2980b9 0 -5px 0;
}
/* line 217, sass/main.scss */
.circulo:hover img, .circulo:active img {
  opacity: 0.9;
}

/* line 223, sass/main.scss */
.circulo-blanco {
  border-color: white;
  -webkit-box-shadow: #2980b9 0 0 0;
  -moz-box-shadow: #2980b9 0 0 0;
  box-shadow: #2980b9 0 0 0;
}
/* line 227, sass/main.scss */
.circulo-blanco:hover, .circulo-blanco:active {
  top: 0;
  border: 10px solid white;
  -webkit-box-shadow: #2980b9 0 0 0;
  -moz-box-shadow: #2980b9 0 0 0;
  box-shadow: #2980b9 0 0 0;
}
/* line 232, sass/main.scss */
.circulo-blanco:hover:before, .circulo-blanco:active:before {
  font-family: "Glyphicons Halflings";
  content: "\1f4f7";
  font-size: 4em;
  position: absolute;
  left: 40px;
  top: 15px;
}
/* line 241, sass/main.scss */
.circulo-blanco:hover img, .circulo-blanco:active img {
  opacity: 0.5;
}

/* line 247, sass/main.scss */
.centro {
  text-align: center;
  margin: 0 auto;
}

/* line 252, sass/main.scss */
.barra {
  width: 100%;
  top: 0;
  background-color: transparent;
}

/* line 260, sass/main.scss */
.flecha:hover {
  animation: movFlecha 2s infinite;
  -moz-animation: movFlecha 2s infinite;
  /* Firefox */
  -webkit-animation: movFlecha 2s infinite;
  /* Safari and Chrome */
  -o-animation: movFlecha 2s infinite;
  /* Opera */
}

/* line 268, sass/main.scss */
#logo {
  height: auto;
  padding: 10px;
  border-left: 2px solid #3498db;
  border-right: 2px solid #3498db;
}
/* line 274, sass/main.scss */
#logo img {
  height: 100px;
}

/* ===================
    Keyframes
   =================== */
@keyframes movFlecha {
  /* line 283, sass/main.scss */
  0% {
    padding-top: 0px;
  }

  /* line 284, sass/main.scss */
  50% {
    padding-top: 10px;
  }

  /* line 285, sass/main.scss */
  100% {
    padding-top: 0px;
  }
}

@-moz-keyframes movFlecha {
  /* line 290, sass/main.scss */
  0% {
    padding-top: 0px;
  }

  /* line 291, sass/main.scss */
  50% {
    padding-top: 10px;
  }

  /* line 292, sass/main.scss */
  100% {
    padding-top: 0px;
  }
}

@-webkit-keyframes movFlecha {
  /* line 297, sass/main.scss */
  0% {
    padding-top: 0px;
  }

  /* line 298, sass/main.scss */
  50% {
    padding-top: 10px;
  }

  /* line 299, sass/main.scss */
  100% {
    padding-top: 0px;
  }
}

@-o-keyframes movFlecha {
  /* line 304, sass/main.scss */
  0% {
    padding-top: 0px;
  }

  /* line 305, sass/main.scss */
  50% {
    padding-top: 10px;
  }

  /* line 306, sass/main.scss */
  100% {
    padding-top: 0px;
  }
}
