/* ===================
   Body and Defaults
   =================== */
/* line 9, sass/default.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, sass/default.scss */
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

/* line 21, sass/default.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 26, sass/default.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 32, sass/default.scss */
h2 {
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2em;
}

/* line 39, sass/default.scss */
a {
  text-decoration: none;
}

/* line 43, sass/default.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 52, sass/default.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 58, sass/default.scss */
img {
  vertical-align: middle;
}

/* line 62, sass/default.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 68, sass/default.scss */
textarea {
  resize: vertical;
}

/* line 72, sass/default.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===================
   Helpers
   =================== */
/* line 83, sass/default.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 90, sass/default.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 97, sass/default.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 102, sass/default.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 114, sass/default.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 123, sass/default.scss */
.invisible {
  visibility: hidden;
}

/* line 128, sass/default.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 133, sass/default.scss */
.clearfix:after {
  clear: both;
}

/* line 137, sass/default.scss */
.clearfix {
  *zoom: 1;
}
