doctype 5
html
  include ../includes/head
  body    
  //- if lt IE 7
    p.browsehappy Actualmente está utilizando un navegador 
      strong desactualizado. 
      | Por favor
      a(href="http://browsehappy.com/") actualice su navegador 
      | para mejorar su experiencia.

  div.container
    div.navbar
      a(class="navbar-brand", href="/") Inicio
      ul(class="nav navbar-nav")
        li: a(href="#") Other

    block content
    include ../includes/foot