extends ../layouts/admin

block content
  form(role="form")
    div.form-group
      label Variable#1
      input.form-control(type="text", placeholder="Escriba acá la variable# 1", name="variable1", required)
    div.form-group
      label Variable#1
      input.form-control(type="text", placeholder="Escriba acá la variable# 1", name="variable1", required)
    div.form-group
      label Variable#1
      input.form-control(type="text", placeholder="Escriba acá la variable# 1", name="variable1", required)

    a(href="admin/configuracion").btn.btn-default Cancelar 
    | &nbsp;
    button.btn.btn-primary(type="submit") Guardar